*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 900; */
    color: #bd8d43;
    /* font-size: 17px; */

}

.container{
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 0px;
    margin-right: 0px;
    
}

.main {
    /* width: 576px; */
    margin: 0 auto!important;
    padding: 30px;
    border:1px solid #bd8d43;
    background-color: #432658;
    color: #ffffff;
}
.md-form{
    margin-top:0px!important;
}
.md-form input[type="text"]:not(.browser-default){
    border-bottom: 1px solid #bd8d43!important;
}
.md-form label{
    color: #bd8d43!important;
}
.main__heading--font-family{
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
}
.main__heading--color-h{
    color: #ee018c;
    font-size: 2.2em;
    text-transform: capitalize;
}
.navigation__tabs{
    width: 100%;
    border-bottom: 1px solid transparent;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.mb-15{
    margin-bottom: 15px;
}




.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    }
    
    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }
    
    .number-input {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    }
    
    .number-input button:before,
    .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
    }
    
    .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .number-input input[type=number] {
    text-align: center;
    }
    
   
    .number-input.number-input {
        border: 1px solid #bd8d43;
        width: 10rem;
        border-radius: .25rem;
        height: 35px;
        color: #bd8d43;
        padding-left: 0px;
        padding-right: 0px;
    }
    .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
    padding: 15px;
    }
    
    .number-input.number-input button.minus {
   padding: 15px;
    }
    
    .number-input.number-input button:before,
    .number-input.number-input button:after {
    width: .7rem;
    background-color: #bd8d43;
    }

    .md-form textarea.md-textarea {
        border-bottom: 1px solid #bd8d43!important;
    }
    
    .number-input.number-input input[type=number] {
        max-width: 60px;
        padding: .5rem;
        border: 1px solid #bd8d43;
        border-width: 0 1px;
        font-size: 1rem;
        height: 2rem;
        color: #495057;
        background: transparent;
    }
    
    @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
    margin-top: -.3rem;
    }
    }
    }


    .containerdiv {
        position: relative;   
        }

        .containerdiv__topleft {
            position: absolute;
            top: 8px;
            left: 5%;
            font-size: 18px;
            color: #fff;
            }
    
            .containerdiv__topbottom {
            position: absolute;
            bottom:20px;
            left: 16px;
            font-size: 18px;
            }
    
            .containerdiv__bottomright{
            position: absolute;
            bottom:20px;
            right: 5%;
            font-size: 18px;
            color: #fff;
            }
    
            #containerdiv__barcode {
            position:absolute;
            left:5%;
            bottom:5%;
            max-width: 100px;
            }
            .containerdiv__topleft{        
                /* text-shadow: 2px 2px 3px #ee018c; */
                letter-spacing: 1.5px;
                color: #333333;
                font-weight: bold;
            }
            .containerdiv__bottomright{
                /* text-shadow: 2px 2px 3px #ee018c; */
                letter-spacing: 1.5px;
                color: #333333;
                font-weight: bold;
            }
            .containerdiv__w100{
               width: 100%;
               height: 500px!important;
            }
            
            .md-form textarea.md-textarea+label {
                top: 0px!important;
            }


            .btn-submit{
                background: #ee018c!important;
                color: #fff!important;
            }

textarea::-webkit-input-placeholder {  color: #d79e4c!important;}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }

    ::-webkit-scrollbar-thumb {
    background: rgb(74, 62, 117);
    }

    ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    }
.navigation__tabs .navigation__link {
    border: 1px solid #bd8d43;
    margin: 2px;
    /* border-radius: 10px; */
    color: #bd8d43;
}
.navigation__link.active,.navigation__link:hover{
   border:1px solid #ee018c!important;
   color: #ee018c;
   transition: 0.5s;
}
.navigation__tabs .navigation__item.show .navigation__link, .navigation__tabs .navigation__link.active {
    background: transparent!important;
    color: #ee018c;
}
.navigation__item a{
    color: #333333;
}

.nav{
    flex-wrap: nowrap!important;
}

#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}

 #myCarousel1 .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel1 .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    border:1px solid !important;
}

#myCarousel1 .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel1 .carousel-indicators > li.active img {
    opacity: 0.7;
}

#myCarousel2 .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel2 .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel2 .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel2 .carousel-indicators > li.active img {
    opacity: 0.7;
}

 #myCarousel3 .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel3 .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel3 .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel3 .carousel-indicators > li.active img {
    opacity: 0.7;
}

.main__giftTo,.main__giftFrom{
    background-color: #432c54d4;
    border:1px solid #bd8d43;
    padding:20px;
    margin-bottom: 20px;
}

.navigation{
    border:1px solid #bd8d43;
    float:left;
    width:100%;
}

textarea::placeholder{
    color: #bd8d43;
}

.main__form-control-style{
    background: transparent!important;
    border-style: solid;
    border-color:#432c54d4 #432c54d4 #bd8d43 #432c54d4;
    color: #bd8d43;
    padding-left: 0px;
}

.main__form-control-textarea{
    background-color:#432c54d4!important;
    color: #bd8d43;
    resize: none;
}

.border {
    border: 1px solid #bd8d43!important;
}

input,textarea{
    color: #bd8d43!important;
}

.main__amount li{
    display: inline-flex;
    margin-right: 5px;
    /* width: 500px; */
}

.carousel .carousel-indicators li{
    border-radius: 0px!important;
}

.carousel-indicators{
    border: 1px solid !important;
}

.main__amount li button{
    width:60px;
    background: transparent;
    border: 1px solid #bd8d43!important;
    padding: 3px;
    /* margin-right:5px; */
    font-size: 13px;
    border-radius: 3px;
}

.main__amount li input{
    color: #bd8d43!important;
}

.main__amount-text{
    background-color:transparent;
    border:1px solid #bd8d43;
    width: 80px;
    font-size: 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    color: #bd8d43;
  }

.form-control:focus{
    box-shadow: none;
    border-color:#432c54d4 #432c54d4 #bd8d43 #432c54d4;
}

.pl-0{
    padding-left: 0px;
}

.main__amount-flex{
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.main__pr-0{
    padding-right:0px
}


@media (min-width: 320px) and (max-width: 991px) { 
    .md-form{
        margin-left: 15px!important;
    }
    .ml-15{
        margin-left: 15px;
    }
    .mb-20{
        margin-bottom: 20px;
    }
    .number-input.number-input{
        border-radius: 0px;
    }
    #containerdiv__barcode{
        max-width:60px;
    }
 }



@media only screen and (max-width:991px){
    .main__pr-0{
        padding-right:0px
    }
    .main__ml-13{
        margin-left:13px
    }
    .main__amount li button {
        margin-right: 5px;
        margin-left: 6px;
        width: 70px;
    }
    .main__amount li{
        margin-right: 0px;
    }
    .main__amount-flex{
        margin-left: 5px;
    }
    #containerdiv__barcode {
        position: absolute;
        left: 5%;
        bottom: 10%;
        max-width: 70px;
        }
    /* .amount li{
      width: 600px;
    } */
    /* .amount li button {
        margin-left: 6px;
        width: 70px;
    } */
}



@media only screen and (max-width:767px){
/* 
    .md-form label {
        left: 15px!important;
    } */

    .pl-0{
        padding-left: 10px!important;
    }
    #containerdiv__barcode {
        position: absolute;
        left: 5%;
        bottom: 10%;
        max-width: 60px;
        }
        .containerdiv__topleft{
        font-size:13px;
        }
        .containerdiv__bottomright{
        font-size: 13px;
        }

        .containerdiv__w100{
            height: 300px!important;
        }

}


@media only screen and (max-width:576px){
    .main{
       width: 100%!important;
    }
    .main__pr-0{
        padding-right:0px
    }
    .main__ml-13{
        margin-left:13px
    }
    .containerdiv__topleft{       
        font-size: 0.625rem;
        font-weight: bold;
        }
        .containerdiv__bottomright{
        font-size: 0.625rem;
        font-weight: bold;
        }
        #containerdiv__barcode {
        position: absolute;
        left: 5%;
        bottom: 10%;
        max-width: 40px;
        }
}

@media only screen and (max-width:360px){
    .containerdiv__topleft,.containerdiv__bottomright{
        font-size:8px;
        }  
        #containerdiv__barcode {
        position: absolute;
        left: 5%;
        bottom: 10%;
        max-width: 40px;
        }
}